//Colors
$color1: #000;
$color2: #fff;
$color3: #af2557;
$color4: #6ddefa;
$color5: #f5966b;
$color6: #ffc75e;
$color7: #53115c;
$color8: rgba(255, 255, 255, 0.685);

//Functions
@mixin text1($size, $color) {
  font: $size "Open Sans Condensed", sans-serif;
  color: $color;
}

@mixin text2($size, $color) {
  font: $size "Dawning of a New Day", cursive;
  color: $color;
}
