nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4px 30px;
  background-color: $color4;
}

.title {
  display: flex;
  align-items: center;
  h1 {
    @include text2(45px, $color2);
    margin-right: 20px;
  }
  h2 {
    @include text1(40px, $color1);
  }
}

.contact {
  .span1 {
    @include text1(25px, $color1);
  }
  .span2 {
    @include text1(25px, $color1);
  }
}

.media {
  display: flex;
  align-items: center;
  .youtube {
    display: block;
  }
  .instagram {
    display: block;
  }
}

.languages {
  @include text1(30px, $color1);
}
