nav {
  display: flex;
  padding: 0px;
  margin: 0px;
  background-color: $color8;
}

.title {
  display: flex;
  h1 {
    @include text2(40px, $color1);
  }
  h2 {
    @include text1(30px, $color1);
  }
}

.contact {
  .span1 {
    @include text1(25px, $color1);
  }
  .span2 {
    @include text1(25px, $color1);
  }
}

.menulinks {
  text-decoration: none;
}

.languages {
  text-decoration: none;
  @include text1(30px, $color1);
}
