nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4px 30px;
  background-color: $color4;
  margin-bottom: 80px;
}

.title {
  display: flex;
  align-items: center;
  h1 {
    @include text2(30px, $color2);
    margin-top: 6px;
    margin-right: 20px;
  }
  h2 {
    @include text1(35px, $color8);
    text-transform: uppercase;
  }
}

.contact {
  @include text1(20px, $color1);
  text-decoration: none;

  &:hover {
    color: $color2;
  }
}

.media {
  display: flex;
  align-items: center;
  .youtube {
    display: block;
    margin-right: 10px;
  }
  .instagram {
    display: block;
  }
}

.languages .eng,
.pt {
  @include text1(30px, $color1);
  text-decoration: none;
  margin-right: 10px;
  &:hover {
    color: $color2;
  }
}
