* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #fff;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 4px 30px;
  background-image: url("/Assets/watercolor.jpg");
  margin-bottom: 80px;
  border-radius: 0px 0px 0px 0px;
  width: auto;
  height: 100px;
  -webkit-box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
          box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}

.title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.title h1 {
  font: 30px "Homemade Apple", cursive;
  color: #fff;
  margin-top: 6px;
  margin-right: 20px;
}

.title h2 {
  font: 35px "Open Sans Condensed", sans-serif;
  color: #535353;
  text-transform: uppercase;
}

.contact {
  font: 20px "Open Sans Condensed", sans-serif;
  color: #fff;
  padding: 5px 10px;
  text-decoration: none;
  background-color: #8fe6f1c7;
  border-radius: 7px;
  border-style: dashed;
  border-color: #fff;
  box-shadow: 2px 10px 14px -17px rgba(0, 0, 0, 0.67);
  -webkit-box-shadow: 2px 10px 14px -17px rgba(0, 0, 0, 0.67);
  -moz-box-shadow: 2px 10px 14px -17px rgba(0, 0, 0, 0.67);
}

.contact:hover {
  color: #313131;
}

.media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.media .youtube {
  display: block;
  margin-right: 10px;
}

.media .instagram {
  display: block;
}

.languages .eng,
.pt {
  font: 30px "Open Sans Condensed", sans-serif;
  color: #fff;
  text-decoration: none;
  margin-right: 10px;
}

.languages .eng:hover,
.pt:hover {
  color: #313131;
}

.description {
  width: 1000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px auto 30px auto;
  border-radius: 4px;
}

.description .marcelo,
.description .therapy {
  width: 1000px;
  border-radius: 10px;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px;
  box-shadow: 2px 10px 14px -17px rgba(0, 0, 0, 0.67);
  -webkit-box-shadow: 2px 10px 14px -17px rgba(0, 0, 0, 0.67);
  -moz-box-shadow: 2px 10px 14px -17px rgba(0, 0, 0, 0.67);
}

.description .marcelo {
  background-image: url("/Assets/background3.jpg");
}

.description .marcelo:hover .text1 {
  display: block;
}

.description .therapy {
  background-image: url("/Assets/background4.jpg");
}

.description .therapy:hover .text2 {
  display: block;
}

.description h3,
.description h4 {
  font: 25px "Homemade Apple", cursive;
  color: #575757;
  text-align: center;
}

.description .text1,
.description .text2 {
  width: 800px;
  font: 20px "Open Sans Condensed", sans-serif;
  color: #313131;
  background-color: #5353532a;
  border-radius: 5px;
  border-top: dashed;
  border-color: rgba(255, 255, 255, 0.397);
  padding: 30px;
  margin-bottom: 30px;
  text-align: justify;
}

.description .text1 {
  display: none;
}

.description .text2 {
  display: none;
}

.types {
  width: 1000px;
  height: 150px;
  margin: 0px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.types .type1 {
  width: 450px;
  background-image: url("/Assets/background1.jpg");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px 5px 40px 40px;
  border-style: dashed;
  padding: 15px;
  box-shadow: 2px 10px 14px -8px rgba(0, 0, 0, 0.67);
  -webkit-box-shadow: 2px 10px 14px -8px rgba(0, 0, 0, 0.67);
  -moz-box-shadow: 2px 10px 14px -8px rgba(0, 0, 0, 0.67);
}

.types .type2 {
  width: 450px;
  background-image: url("/Assets/background2.jpg");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px 5px 40px 40px;
  border-style: dashed;
  padding: 15px;
  box-shadow: 2px 10px 14px -8px rgba(0, 0, 0, 0.67);
  -webkit-box-shadow: 2px 10px 14px -8px rgba(0, 0, 0, 0.67);
  -moz-box-shadow: 2px 10px 14px -8px rgba(0, 0, 0, 0.67);
}

.types p {
  font: 20px "Homemade Apple", cursive;
  color: #313131;
}

.types span {
  font: 20px "Open Sans Condensed", sans-serif;
  color: #313131;
}
/*# sourceMappingURL=style.css.map */