* {
  margin: 0px;
  padding: 0px;
}

body {
  background-image: url("/Assets/newone.jpeg");
  background-attachment: fixed;
}

//Imports
@import "general";
@import "nav";
@import "description";
@import "types";
@import "footer";
