* {
  margin: 0px;
  padding: 0px;
}

body {
  background-image: url("/Assets/newone.jpeg");
  background-attachment: fixed;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0px 30px;
  background-color: #fff;
  margin-bottom: 80px;
  width: auto;
  height: 80px;
}

.title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.title .logo {
  width: 50px;
  margin-right: 10px;
}

.title h2 {
  font: 25px "Open Sans Condensed", sans-serif;
  color: #535353;
  text-transform: uppercase;
}

.links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact {
  font: 18px "Open Sans Condensed", sans-serif;
  color: #535353;
  padding: 5px 15px 8px;
  text-decoration: none;
  background-color: #fff;
  border-radius: 5px;
  border-style: solid;
  border-color: #535353;
  margin-right: 40px;
}

.contact:hover {
  color: #fff;
  background-color: #535353;
}

.instagram {
  margin-right: 30px;
}

.eng,
.pt {
  font: 20px "Open Sans Condensed", sans-serif;
  color: #535353;
  text-decoration: none;
  border-radius: 20px;
  padding: 5px 8px;
}

.eng:hover,
.pt:hover {
  background-color: #535353;
  color: #fff;
}

.description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px auto;
  border-radius: 4px;
}

.description .marcelo,
.description .therapy {
  width: 1000px;
  border-radius: 3px;
  margin-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 25px 30px 30px 30px;
}

.description .profile {
  width: 100px;
  margin-bottom: 30px;
}

.description h3,
.description h4 {
  font: 30px "Homemade Apple", cursive;
  color: #575757;
  text-align: center;
  margin-bottom: 20px;
}

.description .distribution {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: baseline;
      -ms-flex-pack: baseline;
          justify-content: baseline;
  background-color: #68686867;
  width: 1100px;
}

.description .text1 {
  width: 200px;
  font: 20px "Open Sans Condensed", sans-serif;
  color: #fff;
  text-align: justify;
}

.description .text2 {
  background-color: #68686867;
  width: 900px;
  padding: 30px 50px;
  border-radius: 5px;
  margin-bottom: 20px;
  font: 20px "Open Sans Condensed", sans-serif;
  color: #fff;
  text-align: justify;
}

.description p {
  margin-bottom: 9px;
}

.types {
  width: 1020px;
  height: 300px;
  margin: 0px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.types .type1,
.types .type2 {
  width: 450px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
  border-style: dashed;
  border-color: #575757;
  padding: 15px;
  box-shadow: 2px 10px 14px -8px rgba(0, 0, 0, 0.67);
  -webkit-box-shadow: 2px 10px 14px -8px rgba(0, 0, 0, 0.67);
  -moz-box-shadow: 2px 10px 14px -8px rgba(0, 0, 0, 0.67);
}

.types p {
  font: 20px "Homemade Apple", cursive;
  color: #575757;
  margin-top: 25px;
}

.types span {
  font: 20px "Open Sans Condensed", sans-serif;
  color: #575757;
  text-align: justify;
  width: 350px;
  margin-top: 25px;
}

.types .booking {
  font: 20px "Open Sans Condensed", sans-serif;
  color: #575757;
  text-decoration: none;
  margin-top: 20px;
  background-color: #8fe6f1c7;
  padding: 10px;
  border-radius: 5px 5px 10px 10px;
  -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
          box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
  border-style: dashed;
  border-color: #fff;
}

.types .booking:hover {
  background-color: #fd97bc56;
}

footer {
  background-color: #313131;
  width: auto;
  margin-top: 80px;
  -webkit-box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
          box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px;
}

.additional {
  font: 15px "Open Sans Condensed", sans-serif;
  color: #fff;
}

.logoco {
  width: 50px;
}
/*# sourceMappingURL=style.css.map */